.room {
    display: flex;
    justify-content: center;
		/* Значением по умолчанию является stretch. Именно благодаря этому значению флекс-элементы и растягиваются на всю «высоту» флекс-контейнера */
    align-items: stretch;
		/* Выровняем котов на ковриках по центру поперечной оси. */
    align-items: center;
		/* Расположим котов на ковриках в начале поперечной оси нашей флекс-комнаты. */
    align-items: flex-start;
		/* А затем в конце. */
    align-items: flex-end;
		
}

/* Зададим коврикам высоту 150px. */
.rug {
    height: 150px;
}

/* Коврику Кекса зададим высоту 250px. */
.rug.keks {
    height: 250px;
}