.palette {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    
}

.color-1 {
    order: 6;   
}

.color-2 {
    order: 0;   
}

.color-3 {
    order: 5;   
}

.color-4 {
    order: 0;   
}

.color-5 {
    order: 4;   
}

.color-6 {
    order: 0;   
}