.room {
    display: flex;
		/* Для элементов флекс-комнаты зададим перенос элементов на другую строку. */
    flex-wrap: wrap;
		/* Зададим для .room перенос элементов на новую строку в обратном направлении. */
    flex-wrap: wrap-reverse;
}

.rug {
		/* Зададим коврикам ширину 120px. */
    width: 120px;
		/* И увеличим ширину ковриков до 180px. */
    width: 180px;
}