.menu {
		/* Блок .menu сделаем флекс-контейнером. */
    display: flex;
		/* И зададим равномерное распределение элементов по главной оси с половинными отступами по краям. */
    justify-content: space-around;
		/* Зададим центральное выравнивание элементов по поперечной оси. */
		align-items: center;		
}

.logo {
		/* Блоку .logo зададим порядковый номер -1. */
    order: -1;
		/* А затем поменяем на номер 1. */
    order: 1;
}
