.pictures {
    display: flex;
		/* Зададим распределение элементов во флекс-контейнере по центру главной оси. */
    justify-content: center;
		/* Изменим распределение элементов на равномерное с половинными отступами по краям. */
    justify-content: space-around;
		/* И по центру поперечной оси. */
    align-items: center;
}

.picture {

}