.room {
    display: flex;
    align-items: center;
}

/* Расположим Кекса на -1 позиции. */
.keks {
    order: -1;
}

/* Семёна на -2, он будет первым во флекс-комнате. */
.simeon {
    order: -2;
}

/* А Рудольфа на 1 позиции, он будет последним. */
.rudolf {
    order: 1;
}
