/* Блок .post сделаем флекс-контейнером. */
.post {
    display: flex;
}

/* Блок .post aside внутри флекс-контейнера .post также сделаем флекс-контейнером. */
.post aside {
    display: flex;
		/* И внешний отступ справа 20px. */
    margin-right: 20px;
		/* Расположим элементы внутри .post aside сверху вниз. */
    flex-direction: column;
		/* Зададим равномерное распределение элементов по главной оси без отступов по краям. */
    justify-content: space-between;
		/* Тегу .aside во флекс-контейнере зададим порядковый номер -1. */    
		order: -1;
}







