/* Небольшая подсказка, дальше сами */
article {
    display: table;
    width: 470px;
    margin: 55px auto;
    border: 5px solid #686868;
    border-spacing: 15px;
    background: url("img/wood.png");

}

article ul {
    display: table-row;    
}

article ul:first-child {
    background: url("img/wall-1.png");
}

article ul:last-child {
    background: url("img/wall-2.png");
}

article li {
    display: table-cell;  
    padding: 20px;
    border: 10px solid #686868;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

article li:first-child {
    width: 130px;
}

article li:last-child {
    width: 170px;
}
