/* Сделаем блок .menu флекс-контейнером.
Зададим перенос элементов на новую строку во флекс-контейнере. */
.menu {
    display: flex;
		/* Зададим для меню ширину 300px. */
    width: 300px;
		/* А затем изменим на 200px. */
    width: 200px;
    flex-wrap: wrap;
}

/* Пунктам меню зададим коэффициент растягивания со значением 1. */
.menu > div {
    flex-grow: 1;    
}