/* С помощью сокращённого свойства flex можно одновременно задать коэффициенты растягивания, сжатия и базовый размер флекс-элемента. */
.spot {
    display: flex;
}

/* Зададим скейтбордам коэффициент растягивания 0, коэффициент сжатия 1, базовый размер 200px. */
.skate {
    flex: 0 1 200px;
}

/* Оранжевому еноту зададим коэффициент растягивания 1, коэффициент сжатия 0, базовый размер 200px. */
.racoon-orange {
    flex: 1 0 200px;
		/* Изменим коэффициент сжатия у Оранжевого Енота на 2. */
    flex: 1 2 200px;
}