.spot {
    display: flex;
    justify-content: space-around;
    align-items: center;
		/* Флекс-контейнеру зададим выравнивание элементов вдоль поперечной оси с растяжением. */
    align-items: stretch;
}

.skate {
    min-width: 50px;
    min-height: 50px;
    min-height: 75px;
    width: 75px;
    margin: 10px;
}

/* Второму скейту зададим внешний верхний отступ auto. */
.skate-2 {
    margin-top: auto;
}

.skate-3 {
		/* Третьему скейту зададим собственное выравнивание в конце поперечной оси. */
    align-self: flex-end;
		/* И внешний отступ снизу со значением auto.*/
    margin-bottom: auto;
}