.portrait {
    width: 270px;
    height: 270px;
    margin: 100px auto;
    padding: 10px;
    box-sizing: border-box;
    border: 50px solid rgba(0, 0, 0, 0.4);
    border-image-source: url("../img/border-img.png");
    border-image-slice: 50;
    border-image-repeat: repeat;
    /* Зададим отступ для рамки 30px. */
    border-image-outset: 30px;
    /* Зададим отступ для рамки 60px. */
    border-image-outset: 60px;
    background: url("../img/border-img.png") no-repeat #ffffff;
    background-clip: padding-box;
    background-origin: content-box;
    outline: 10px solid white;
}