.portrait {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    padding: 40px;
    box-sizing: border-box;
    border: 40px solid rgba(255, 255, 255, 0.4);
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    background-color:  #ffffff;
    background-image:
        url("../img/glasses.svg"),
        url("../img/keks2.jpg");
    background-repeat: no-repeat;
    background-position:
        75px 125px,
        center;
    background-origin: border-box;
    background-clip: padding-box;
    background-size:
        150px,
        cover;
    /* горизонтальный радиус 100px, вертикальный 50px */
    border-top-left-radius: 100px 50px;
    border-top-right-radius: 100px 50px;
    /* горизонтальный радиус 20%, вертикальный 50% */
    border-bottom-left-radius: 20% 50%;
    border-bottom-right-radius: 20% 50%;
}