.portrait {
    width: 270px;
    height: 270px;
    margin: 50px auto;
    padding: 10px;
    box-sizing: border-box;
    border: 50px solid rgba(0, 0, 0, 0.4);
    background: url("../img/border-img.png") no-repeat #ffffff;
    background-clip: padding-box;
    background-origin: content-box;
    outline: 10px solid white;
    border-image-source: url("../img/border-img.png");
}