body > header {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px;
	font-size: 12px;
	font-family: "Courier New", monospace;
	color: #ffffff;
	background: #3498db;
	opacity: 0.5;
}

.bubble {
		margin: 55px auto;

}

body > article.checklist {
	margin: 55px 55px;
}

