/* Изображение в блоке .combo сделаем бесцветным. И размытым.
Зададим для всех свойств плавный переход длительностью 0.6s. */
.combo img {
    filter: grayscale(1) blur(2px);
    transition-duration: 0.6s;
}

/* При наведении на изображение будем убирать фильры. */
.combo img:hover {
    filter: none;
}
