/*
    Цвета смайликов: #f4c300, #009f3d, #0085c7, #df0024
    Цвета текста: rgba(255, 0, 180, 0.5), rgba(0, 168, 255, 0.5)
*/

html,
body {
    min-width: 570px;
    margin: 0;
    font-family: "Arial", sans-serif;
    color: #000000;
}

p {
    margin: 0;
    padding-top: 230px;
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    color: rgba(0, 168, 255, 0.5);
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: -5px;
    text-shadow: 5px 5px rgba(255, 0, 180, 0.5);
}

span {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -0.5em;
    font-size: 200px;
    line-height: 1em;
    text-shadow: -70px 80px #f4c300, -140px 0px #0085c7, 70px 80px #009f3d,  140px 0px #df0024;
}