
.color-1 {
  background-color: #0074d9;
}
.color-2 {
  background-color: #5ab2ff;
}
.color-3 {
  background-color: #ff4136;
}
.color-4 {
  background-color: #53a75d;
}
.color-5 {
  background-color: #2ecc40;
}
.color-6 {
  background-color: #8436ff;
}
.color-7 {
  background-color: #ffdc00;
}
.color-8 {
  background-color: #b39a00;
}
.color-9 {
  background-color: #5000cf;
}
