@base-color: white;
@base-color: rgb(110, 27, 255);

.color-primary {
    /* переменную добавьте сюда */
		/* Переопределим внешнюю переменную @base-color, добавив такую же внутрь .color-primary. */
    @base-color: red;	
    background-color: @base-color;
    background-color: rgb(110, 27, 255);
    background-color: red;
}