body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: white;
	  min-width: 1040px;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.page-header {
    background-image: url("img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 490px;
    padding-top: 35px;
}

.page-header,
.page-footer {
/*    padding: 10px;*/
    background-color: #363636;
    color: #c3c3c3;
}

.header-top {
    margin-bottom: 125px;
}

.header-logo {
    float: left;
    width: 205px;
    height: 55px;
}

.main-nav {
    float: left;
    width: 520px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 125px;
}

.main-nav li {
    text-transform: uppercase;
}

.main-nav a {
    color: #ffffff;
    text-decoration: none;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.btn {
    color: #a38b70;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    color: #8d745a;
}

.btn:active {
    color: rgba(141, 116, 90, 0.3);
}

.btn-quick-order {
    float: right;
}

.promo {
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    font-family: "Georgia", serif;
    text-align: center;
}

.promo a {
    color: #ffffff;
    text-decoration: none;
}

.features {
    padding-top: 50px;
    padding-bottom: 55px;
}

/* features - особливості (інше - переваги) */ 
.features ul {
    list-style: none;
		margin: 0;
		padding: 0;
}

.feature-item {
		float: left;
    padding-top: 90px;
		padding-left: 30px;
		padding-right: 30px;
		width: 279px;
    text-align: center;
    border-left: 1px solid #d9d9d9;
}

.feature-item:first-child {
/*    border-left: none;*/
    border-left-color: transparent;
}

.feature-choice {
  background: url("img/feature-1.png") top center no-repeat;
}

.feature-quality {
  background: url("img/feature-2.png") top center no-repeat;
}

.feature-safety {
  background: url("img/feature-3.png") top center no-repeat;
}

.feature-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    font-family: "Georgia", serif;
    color: #a38b70;
}

.feature-item p {
    font-size: 16px;
}

/* reference - довідка / справка */ 
.cat-reference {
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: #f2f2f2;
}

.section-title {
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    font-family: "Georgia", serif;
    color: #a38b70;
}

.cat-reference dl {
    width: 820px;
}

.cat-reference dt {
    margin: 0;
    margin-bottom: 10px;
}

.cat-reference dd {
    margin: 0;
    font-size: 16px;
}

.cat-reference dd + dt {
    margin-top: 70px; 
}

.cat-reference dd img {
    border-radius: 5px;
}

.reference-title {
    font-size: 24px;
}

.reference-source {
    font-size: 16px;
    color: #666666;
    font-style: italic;
}

.reference-source a {
    color: #a38b70;
}

.reference-source a:hover {
    color: #8d745a;
}

.reference-source a:active {
    color: rgba(141, 116, 90, 0.3);
}

.reviews {
    padding-top: 70px;
    padding-bottom: 90px;
}

.review-item {
		float: left;
    width: 377px;
    margin: 0;
    margin-right: 80px;
    padding: 0;
    padding-left: 50px;
    font-size: 16px;
    border-left: 3px solid #a38b70;
}

.review-author {
    font-weight: bold;
    font-style: italic;
}

.popular-and-price {
    padding-top: 70px;
    padding-bottom: 90px;
		background-color: #f2f2f2;
}

.popular-items {
    margin-bottom: 50px;    
}

.catalog-item {
		float: left;
    margin-right: 48px;
    width: 308px;
		font-size: 16px;
}

.catalog-item:last-child {
    margin-right: 0;
}

.catalog-item img {
    max-width: 100%;
    height: auto;
}

.catalog-item h3 {
		font-size: 16px;
		color: #000000;
}

.price-list {
    width: 100%;
    border-collapse: collapse;
		line-height: 30px;
}

.price-list th {
    font-weight: normal;
    text-align: left;
		font-size: 14px;
		text-transform: uppercase;
}

.price-list td {
    border: 1px solid #333333;
		border-color: #d8d8d8;
}

.price-list th,
.price-list td {
    padding: 5px 10px;
}

.price-list .price-number {
    text-align: center;
}

.price-list .price-name {
    font-weight: bold;
		color: #000000;
}

.feedback {
    padding-top: 60px;    
    padding-bottom: 70px;
}

.feedback-tip {
		font-size: 16px;
}

.feedback-form {
    padding-right: 390px;
    background-image: url("img/write.jpg");
    background-repeat: no-repeat;
    background-position: 100% 40px;
}

.feedback-form-group {
    padding: 10px 0;
}

.feedback-form-group label {
    font-size: 12px;
    text-transform: uppercase;
}

.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
    font: inherit; /* наследование текстовых свойств родителя: цвет, параметры шрифта. в нашем случае БОДИ */
    color: inherit;
    border: 2px solid #d5d5d5;
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
    border-color: #bebebe;
}

.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
    border-color: #8d745a;
}

.checkbox-area {
    border-bottom: 1px solid  #d5d5d5;   
}

.page-footer {
    margin-top: 20px;
}

.footer-middle,
.footer-bottom {
    border-top: 1px solid #5e5e5e;    
}

.footer-menu h3 {
    font-weight: bold;
    font-size: 24px;
    font-family: "Georgia", serif;
    color: #a38b70;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu a {
    font-size: 16px;
    color: #c3c3c3;
    text-decoration: none;
}

.footer-menu a:hover {
    color: #ffffff;    
}

.footer-menu a:active {
    color: rgba(255, 255, 255, 0.3);    
}

.footer-social b {
    font-size: 24px;
    font-family: "Georgia", serif;
    color: #a38b70;
}

.social-btn {
    color: #ffffff;
}

.footer-copyright {
    color: #ffffff; 
    text-transform: uppercase;
}

.footer-copyright a {
    color: #ffffff;
    text-decoration: none;
}

.footer-copyright a:hover {
    text-decoration: underline;    
}

.footer-copyright a:active {
    color: rgba(255, 255, 255, 0.3);    
}