body {
	padding: 0px;
	margin: 0px;
	
	
}

.page-header {
	background-color: whitesmoke;

/*	background-color: deepskyblue;
	padding: 25px;*/
}

.logo {
/*	padding: 5px;*/
/*	border: 1px dashed gray;	*/
}