.robot {
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
		animation-iteration-count: 5;
		animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

/* Для .constructor зададим форму анимации steps(5, start). */
.constructor {
    animation-timing-function: steps(5, start);
		/* Изменим форму анимации на steps(5, end).*/ 
		animation-timing-function: steps(5, end);
}

@keyframes move {
    to {
        left: 400px;
    }