.wizard {
    top: 245px;
    left: 60px;
}
/* 
Поднимем упавшую часть забора .fence-1 с помощью свойства трансформации поворота rotate.

Переместим вверх, но уже не с помощью трансформации по вертикали translateY, а с помощью трансформации по горизонтали translateX, т.к. система координат повернулась при transform: rotate.

А потом подвинем вправо с помощью translateY, также из-за поворота системы координат.
 */
.fence-1 {
    transform: rotate(90deg) translateX(-25px)  translateY(-50px);
}