html,
body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: "Arial Narrow", "Arial", sans-serif;
}

article {
    position: relative;
    max-width: 400px;
    margin: 50px auto;
    padding: 1px 20px;
    line-height: 1.5;
    background: white;
    box-shadow: 0 0 3px #cccccc;
    border-left: 40px solid #7fdbff;
}

h1 {
    margin: 0.7em 0;
    position: absolute;
    top: 10px;
    left: 0px;
    transform-origin: 0 0;
    transform: rotate(90deg);
}