.color-primary {
  background-color: #6e1bff;
}
.palette-item {
  display: block;
  display: inline-block;
  /* вложенное правило создайте тут */
}
.palette-item .color {
  border-radius: 0;
}