html,
body {
    width: 300px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    background: #ecf0f1;
}

.btn {
    width: 250px;
    margin: 0 25px;
    margin-top: 100px;
    padding: 20px 0;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: #2c3e50;
    cursor: pointer;
    box-shadow: 
        inset 0px -10px 0 -5px #2ecc71,
        inset 0px 10px 0 -5px #16a085,
        0px -20px 0 -10px #c0392b,
        0px -40px 0 -20px #e74c3c,
        0px 20px 0 -10px #2980b9,
        0px 40px 0 -20px #3498db
        ;
}

.help {
    position: absolute;
    top: 0px;
    margin: 0 25px;
    margin-top: 100px;
    width: 125px;
    height: 60px;
    box-shadow: 
        inset 0px 5px 0 0px #2ecc71,
        inset 0px -5px 0 0px #16a085;
    
}