li.color-1 {
    border-color: #001f3f;
}

li.color-2 {
    border-color: #0074d9;
}

li.color-3 {
    border-color: #7fdbff;
}

li.color-4 {
    border-color: #39cccc;
}

li.color-5 {
    border-color: #3d9970;
}

li.color-6 {
    border-color: #2ecc40;
}

li.color-7 {
    border-color: #01ff70;
}

li.color-8 {
    border-color: #ffdc00;
}

li.color-9 {
    border-color: #ff851B;
}

li.color-10 {
    border-color: #ff4136;
}

li.color-11 {
    border-color: #85144b;
}

li.color-12 {
    border-color: #f012Be;
}

li.color-13 {
    border-color: #b10dc9;
}

li.color-14 {
    border-color: #111111;
}

li.color-15 {
    border-color: #aaaaaa;
}

li.color-16 {
    border-color: #ffffff;
}