.photo {
    background-image: url("img/spb-1.jpg");
}

/* Сделаем .walden с помощью функции contrast на 10% менее контрастным, а затем у получившегося изображения увеличим яркость на 20%.
Затем повернем цвет на -20deg.
Увеличим насыщенность на 70%.
И под конец применим эффект сепии на 40%.*/
.walden {
    filter: contrast(0.9) brightness(1.2) hue-rotate(-20deg) saturate(1.7) sepia(0.4);
}

/* Сделаем .toaster с помощью функции contrast на 33% менее контрастным.
Затем увеличим насыщенность в 2.5 раза.
Повернем цвет на -30deg.
И под конец применим эффект сепии на 40%. */
.toaster {
    filter: contrast(0.67) saturate(2.5) hue-rotate(-30deg) sepia(0.4);
}